@charset "UTF-8";

/**
 * Background Colors:
 *
 * `bg-black` - Black background color
 *
 * `bg-grey` - Grey background color
 *
 * `bg-white` - White background color
 *
 *     @example
 *     p.bg-black.text-white Black Background Color
 *     p.bg-grey.text-white Grey Background Color
 *     p.bg-white White Background Color
 */

.bg-black{
    background-color: #000000;
}
.bg-grey{
    background-color: #4d4d4d;
}
.bg-white{
    background-color: #ffffff;
}

/**
 * Text Colors:
 * 
 * `text-grey` - grey text color
 *
 * `text-white` - white text color
 *
 * `text-black` - black text color
 *
 * `text-darkblue` - darkblue text color
 * 
 * `text-blue` - blue text color
 *
 * `text-beige` - beige text color
 *
 * `text-lightgrey` - lightgrey text color
 *
 *     @example
 *     p.text-grey Grey text color
 *     p.text-white.bg-grey White text color
 *     p.text-black Black text color
 *     p.text-darkblue Darkblue text color
 *     p.text-blue Blue text color
 *     p.text-beige Beige text color
 *     p.text-lightgrey Lightgrey text color
 */
.text-grey{
    color: #333333;
}
.text-white{
    color: #ffffff;
}
.text-black{
    color: #000000;
}
.text-darkblue{
    color: #007ca5;
}
.text-blue{
    color: #00aeef;
}
.text-beige{
    color: #d3ad7f;
}
.text-lightgrey{
    color: #999999;
}
@charset "UTF-8";

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.uppercase {
    text-transform: uppercase;
}
@charset "UTF-8";
/* GRID */

.col-19 {
    width: 1025px;
}

.col-18 {
    width: 970px;
}

.col-17 {
    width: 915px;
}

.col-16 {
    width: 860px;
}

.col-15 {
    width: 805px;
}

.col-14 {
    width: 750px;
}

.col-13 {
    width: 695px;
}

.col-12 {
    width: 640px;
}

.col-11 {
    width: 585px;
}

.col-10 {
    width: 530px;
}

.col-9 {
    width: 475px;
}

.col-8 {
    width: 420px;
}

.col-7 {
    width: 365px;
}

.col-6 {
    width: 310px;
}

.col-5 {
    width: 255px;
}

.col-4 {
    width: 200px;
}

.col-3 {
    width: 145px;
}

.col-2 {
    width: 90px;
}

.col-1 {
    width: 35px;
}

.offset-18 {
    margin-left: 990px;
}

.offset-17 {
    margin-left: 935px;
}

.offset-16 {
    margin-left: 880px;
}

.offset-15 {
    margin-left: 825px;
}

.offset-14 {
    margin-left: 770px;
}

.offset-13 {
    margin-left: 715px;
}

.offset-12 {
    margin-left: 660px;
}

.offset-11 {
    margin-left: 605px;
}

.offset-10 {
    margin-left: 550px;
}

.offset-9 {
    margin-left: 495px;
}

.offset-8 {
    margin-left: 440px;
}

.offset-7 {
    margin-left: 385px;
}

.offset-6 {
    margin-left: 330px;
}

.offset-5 {
    margin-left: 275px;
}

.offset-4 {
    margin-left: 220px;
}

.offset-3 {
    margin-left: 165px;
}

.offset-2 {
    margin-left: 110px;
}

.offset-1 {
    margin-left: 55px;
}

/* MARGIN */
.no-margin {
    margin: 0 !important;
}

.margin-big {
    margin: 50px;
}

.margin {
    margin: 25px;
}

.margin-center {
    margin: 0 auto;
}

.margin-small {
    margin: 10px;
}

.margin-top-big {
    margin-top: 50px;
}

.margin-top {
    margin-top: 25px;
}

.margin-top-small {
    margin-top: 10px;
}

.margin-bottom-big {
    margin-bottom: 50px;
}

.margin-bottom {
    margin-bottom: 25px;
}

.margin-bottom-small {
    margin-bottom: 10px;
}

.margin-left-big {
    margin-left: 50px;
}

.margin-left {
    margin-left: 25px;
}

.margin-left-small {
    margin-left: 10px;
}

.margin-right-big {
    margin-right: 50px;
}

.margin-right {
    margin-right: 25px;
}

.margin-right-small {
    margin-right: 10px;
}

.margin-top-bottom {
    margin-top: 25px;
    margin-bottom: 25px;
}

.margin-top-bottom-small {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-left-right {
    margin-top: 25px;
    margin-bottom: 25px;
}

.margin-left-right-small {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* PADDING */

.no-padding {
    padding: 0 !important;
}

.padding-big {
    padding: 50px;
}

.padding {
    padding: 25px;
}

.padding-small {
    padding: 10px;
}

.padding-top-big {
    padding-top: 50px;
}

.padding-top {
    padding-top: 25px;
}

.padding-top-small {
    padding-top: 10px;
}

.padding-bottom-big {
    padding-bottom: 50px;
}

.padding-bottom {
    padding-bottom: 25px;
}

.padding-bottom-small {
    padding-bottom: 10px;
}

.padding-left-big {
    padding-left: 50px;
}

.padding-left {
    padding-left: 25px;
}

.padding-left-small {
    padding-left: 10px;
}

.padding-right-big {
    padding-right: 50px;
}

.padding-right {
    padding-right: 25px;
}

.padding-right-small {
    padding-right: 10px;
}

.padding-left-right {
    padding-left: 25px;
    padding-right: 25px;
}

.padding-left-right-small {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-top-bottom {
    padding-top: 25px;
    padding-bottom: 25px;
}

.padding-top-bottom-small {
    padding-top: 10px;
    padding-bottom: 10px;
}


@charset "UTF-8";
@charset "UTF-8";

/**
 * Media Blocks:
 *
 * `media` - Media Block wrapper
 *
 * `img` - Media Object (image)
 *
 * `content` - Media Block Content
 *
 *     @example
 *     div.media
 *        a(href="#", class="img")
 *           img(src="imgs/wired-media-block-img.jpg")
 *        div.content Wired.com Media Block
 */

.media {
    margin:10px;
}
.media, .content {
    overflow:hidden;
    zoom:1;
}
.media .img {
    float:left; margin-right: 10px;
}
.media .img img {
    display:block;
}
.media .imgRight {
    float:right; 
    margin-left: 10px;
}
@charset "UTF-8";

/**
 * Headings:
 *`h1` - font-size: 32px; line-height: 36px;
 *
 *`h2` - font-size: 28px; line-height: 32px;
 *
 *`h3` - font-size: 21px; line-height: 28px;
 *
 *`h4` - font-size: 21px; line-height: 24px;
 *
 *`h5` - font-size: 18px; line-height: 22px;
 *
 *`h6` - font-size: 16px; line-height: 18px;
 *
 *
 *     @example
 *     h1 Wired Heading 1
 *     h2 Wired Heading 2
 *     h3 Wired Heading 3
 *     h4 Wired Heading 4
 *     h5 Wired Heading 5
 *     h6 Wired Heading 6
 *
 *
 */


h1,h2,h3,h4,h5,h6 {
    color: #333;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    color: inherit;
}

h1 {
    font-size: 32px;
    line-height: 36px;
}

h2 {
    font-size: 28px;
    line-height: 32px;
}

h3 {
    font-size: 21px;
    line-height: 28px;
}

h4 {
    font-size: 21px;
    line-height: 24px;
}

h5 {
    font-size: 18px;
    line-height: 22px;
}

h6 {
    font-size: 16px;
    line-height: 18px;
}

div,nav,header,section,article,aside,footer {
    position: relative;
}

dl,li, ol,ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

a {
    color: #00aeef;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

a img {
    border: none;
}

img {
    display: block;
    max-width: 100%;
}

/**
 * Text:
 * Occasionally, there is a need to distinguish some copy from our normal styles. In these cases, you should use one of the following utilities.
 *
 *`p` - This is the standard format for text
 *
 *`strong` - This is for text you want to become strong
 *
 *`sub` - This is for text you want to become subscripted
 *
 *`sup` - This is for text you want to become superscripted
 *
 *
 *     @example
 *     p This is a normal text
 *     p Lorem Ipsum <strong>  Strong text </strong>
 *     p Lorem Ipsum <sup> superscripted text</sup>
 *     p Lorem Ipsum <sub> subscripted text</sub>
 *
 */

q,blockquote {
    quotes: none;
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none;
}
strong {
    font-weight: 600;
}

sup {
    font-size: .7em;
    line-height: 0;
    vertical-align: super;
}

sub {
    font-size: .7em;
    line-height: 0;
    vertical-align: sub;
}

.typography-1 {
    font-family: calibre,calibre-1,calibre-2,brandon-grotesque,HelveticaNeue,Helvetica-Neue,Helvetica,arial,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
.typography-2 {
    font-family: periodico-text,periodico-text-1,periodico-text-2,"Exchange SSm 4r",HelveticaNeue,Helvetica-Neue,Helvetica,arial,sans-serif;
    font-size: 34px;
}
.typography-3 {
    font-family: calibre,calibre-1,calibre-2,brandon-grotesque,HelveticaNeue,Helvetica-Neue,Helvetica,arial,sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.typography-4 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}